@import url('fonts/inter.css');

:root {
    --background-color: #1C1C1C; /* Light gray background for a clean and modern look */
    --navbar-color: #303030; /* Light gray for the navigation bar */
    --text-color: #F4F4F4; /* Dark gray for text to ensure readability */
    --optional-color: #FF6F61; /* Muted blue for optional or secondary elements */
    --highlighted-color: #FF8C00; /* Rich blue for hover and active states */
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: var(--background-color); /* Use the defined background color */
    font-family: 'Inter', serif; /* Set a sans-serif font for a clean appearance */
    color: var(--text-color); /* Set the default text color */
    display: flex; /* Use flexbox to layout the header and content side by side */
}