@import url('fonts/inter.css');

:root {
    --background-color: #1C1C1C;
    --navbar-color: #303030;
    --text-color: #F4F4F4;
    --optional-color: #FF6F61;
    --highlighted-color: #FF8C00;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Inter', serif;
    color: var(--text-color);
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 97vh;
    background-color: var(--navbar-color);
    align-items: center;
    padding: 10px 0;
    position: relative;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.logo_container a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 600;
}

#website_icon {
    height: 50px;
    width: 50px;
}

.logo_container a:hover {
    color: var(--highlighted-color);
    cursor: pointer;
}

.navigation_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    padding: 0;
    position: relative;
}

button svg {
    width: 100%;
    height: 100%;
    fill: var(--text-color);
    transition: fill 0.3s;
}

button:hover svg {
    fill: var(--highlighted-color);
}

/* Dropdown Styles */
.dropdown {
    position: relative;
    width: 100%;
    text-align: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: var(--navbar-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 0;
    width: 270px;
    z-index: 10;
    left: 110%;
    top: 0;
    transform: translateX(10px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    justify-content: center;
}

.dropdown-menu a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 400;
}

.dropdown-menu a:hover {
    background: var(--highlighted-color);
    color:  var(--background-color);
}

#title_for_tab {
    font-size: 18px;
    font-weight: 700;
    color: var(--optional-color);
}