@import url("./fonts/inter.css");

:root {
  --background-color: #e3f2fd; /* Light Blue */
  --navbar-color: #f5f5f5; /* Soft Blue */
  --text-color: #000000; /* Deep Blue */
  --optional-color: #42a5f5; /* Vibrant Blue */
  --highlighted-color: #1e88e5; /* Medium Blue */
  --afuckingcolor: #64b5f6; /* Sky Blue */
  --afuckingtextcolor: #102027; /* Dark Blue-Grey */
}

.filterBar {
  background-color: var(--navbar-color);
  border-radius: 10px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  justify-content: flex-start;
}

.filterTitle {
  padding: 0px;
  margin: 0px;
  color: var(--afuckingtextcolor);
  font-weight: 400;
  font-size: 14px;
  padding: 0px 5px;
}

.Column {
  margin: 0px;
  padding: 0px 10px;
}

.dropdown {
  height: auto;
  width: 200px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid var(--optional-color);
  padding: 5px 10px;
  font-weight: 500;
}

.scheduleBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.scheduleTable {
  width: 74.5%;
  background-color: var(--navbar-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 1%;
}

.scheduleDetails {
  width: 24.5%;
  background-color: var(--navbar-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.scheduleDetails hr {
  margin: 5px 0px;
}

.filterApplyButton {
  width: 100px;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  margin-top: 15px;
  background-color: var(--highlighted-color);
  color: var(--text-color);
  border: 2px solid var(--optional-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.filterApplyButton:hover {
  background-color: var(--optional-color);
  color: var(--text-color);
}

.scheduleTable {
  padding: 10px 0px 10px 10px;
  width: 100%;
  height: 550px;
  overflow: auto;
}

.scheduleDetails {
  padding: 10px;
  height: 550px;
}

.detailsHeader {
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color);
  margin: 0px;
  padding-bottom: 5px;
}

.detailsTitle {
  font-size: 14px;
  font-weight: 500;
  color: var(--afuckingtextcolor);
  margin: 0px;
  padding: 5px 0px;
}

.detialsContent {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  margin: 0px;
  padding: 0px;
}

/* Custom scrollbar */
.scheduleTable::-webkit-scrollbar {
  width: 10px;
}

.scheduleTable::-webkit-scrollbar-track {
  background: var(--navbar-color);
  border-radius: 10px;
}

.scheduleTable::-webkit-scrollbar-thumb {
  background: var(--optional-color);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.scheduleTable table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  height: 100px;
  border-radius: 5px;
}

.scheduleTable th {
  color: white;
  background: var(--highlighted-color);
  font-weight: 400;
  font-size: 16px;
  padding: 4px 0px;
}

.scheduleTable tr:nth-child(even) td {
  background-color: var(--navbar-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--optional-color);
}

.scheduleTable tr:nth-child(odd) td {
  background-color: var(--background-color);
  color: var(--text-color);
  border-bottom: 1px solid var(--optional-color);
}

.scheduleTable td {
  padding: 10px 4px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.filterStatus {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0px 5px;
  color: transparent;
  width: auto;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 0px;
  margin-bottom: 0px;
}
