@import url('../fonts/inter.css');

:root {
    --background-color: #1C1C1C;
    --navbar-color: #303030;
    --text-color: #F4F4F4;
    --optional-color: #FF6F61;
    --highlighted-color: #FF8C00;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    font-family: 'Inter', serif;
    color: var(--text-color);
    display: flex;
}

/* Dashboard Content Wrapper */
.emppay_content {
    background-color: var(--navbar-color);
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

/* Dashboard Title (Row 1) */
.emppay_title {
    text-align: left;
    padding-bottom: 10px;
    padding-left: 10px;
}

.emppay_title h1 {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 700;
}

/* Dashboard Main (Row 2 - Two Columns) */
.emppay_main {
    display: flex;
    width: 100%;
    gap: 20px;
}